html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400; }

.logo-link-wrapper {
  padding-top: 90px;
  padding-bottom: 50px; }

.container {
  width: 1170px;
  margin: auto; }

.logo-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-links,
.header-list {
  display: flex;
  align-items: center; }

.header-links__try-free {
  margin-left: 55px; }

.header-list__li:not(:last-child) {
  margin-right: 35px; }

.header-list__a {
  font-size: 16px;
  color: #242f51; }

.common-blue-button {
  background-color: #2500f9;
  color: #ffffff;
  border-radius: 29px;
  height: 57px;
  line-height: 57px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 40px; }

.header-banner {
  display: flex;
  justify-content: space-between; }
  .header-banner__description-container {
    max-width: 540px; }
  .header-banner__img-container {
    text-align: center; }
  .header-banner__award {
    width: fit-content;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    color: #242f51;
    border-radius: 17px;
    background-color: #e2eaed;
    padding: 0 45px;
    position: relative; }
    .header-banner__award i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      background-color: #feaa25;
      height: 100%;
      width: 35px;
      border-radius: 29px;
      text-align: center;
      line-height: 32px; }
  .header-banner__title {
    font-size: 60px;
    line-height: 75px;
    color: #242f51;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 35px; }
  .header-banner__text {
    font-size: 18px;
    line-height: 28px;
    color: #616368; }
